# 環境設定
.env

# 生成されたファイル
flow-definition.json
test-execution-generated.json
exported-flow-*
generated-policies/
/data

# AWS関連
.aws/

# Python
__pycache__/
*.py[cod]
*$py.class
.Python
venv/
env/

# OS
.DS_Store
Thumbs.db
